.root {
    background: url("./backgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.header_common {
    text-align: center;
    margin-left: 50px;
}

.introduction {
    font-size: 18px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;
}

.person {
    width: 210px;
    height: 260px;
    margin: 15px;
}
.checked_person {
    width: 210px;
    height: 260px;
    border: 3px solid orange;
    margin: 15px;
    font-weight: bold;
    color: orange;
}

.name {
    margin: 5px 5px 0 5px;
    font: italic 1.2em "Fira Sans";
}

.company_name {
    margin: 5px 5px 0 5px;
}

.image_person {
    width: 210px;
    height: 260px;
}

.person_list {
    display:flex;
    margin-left: 40px;
    height: 260px;
    justify-content: center;
}

.buttons_module {
    height: 60px;
    display: inline-flex;
    margin-left: 47vw;
}

.post_list {
    display:block;
    margin-left: 745px;/*710*/
    margin-right: 480px;
}

.post_header {
    margin-top: 110px;
    margin-left: 745px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

.post_title {
    font-family: 'Noto Sans';
    font-size: 16px;
    margin-top: 10px;
}

.post_body {
    font-family: 'Source Sans Pro', sans-serif;
}