.root {
    background: url("./backgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    margin: 15px 0 10px 510px;
}

.introduction {
    font-size: 18px;
    margin-left: 500px;
    height: 50px;
}

.person {
    width: 270px;
    height: 320px;
    margin: 15px;
}
.checked_person {
    width: 270px;
    height: 320px;
    border: 3px solid orange;
    margin: 15px;
    font-weight: bold;
    color: orange;
}

.name {
    margin: 5px 5px 0 5px;
    font: italic 1.2em "Fira Sans";
}

.company_name {
    margin: 5px 5px 0 5px;
}

.image_person {
    width: 270px;
    height: 320px;
}

.person_list {
    display:flex;
    margin-left: 40px;
    height: 326px;
}

.buttons_module {
    height: 60px;
    display: inline-flex;
    margin:0 575px 0 575px;
}

.post_list {
    display:block;
    margin-left: 360px;
    margin-right: 650px;
}

.post_header {
    margin-top: 85px;
    margin-left: 360px;
}

.post_body {
    font-family: "Book Antiqua";
}