.root {
    background: url("./backgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    margin: 15px 0 10px 700px;
    /*margin-top: 30px;
    margin-right: 400px;
    margin-bottom: 10px;*/
}

.person {
    width: 310px;
    height: 370px;
    /*border: 2px solid rebeccapurple;*/
    margin: 15px;
}
.checked_person {
    width: 310px;
    height: 370px;
    border: 3px solid orange;
    margin: 15px;
    font-weight: bold;
    color: orange;
}

.name {
    margin: 5px 5px 0 5px;
    font: italic 1.2em "Fira Sans";
}

.company_name {
    margin: 5px 5px 0 5px;
}

.image_person {
    width: 310px;
    height: 370px;
}

.person_list {
    display:flex;
    margin-left: 40px;
    height: 376px;
}

.buttons_module {
    width: 100%;
    height: 100px;
    display: inline-flex;
    margin:0 680px 0 680px;
}

.post_list {
    display:block;
    margin-left: 400px;
    margin-right: 500px;
}

.post_header {
    text-align: center;
    margin-top: 95px;
    margin-right: 300px;
}